h1, h2, p {
    font-family: Arial, Helvetica, sans-serif;
}

$buttonDimension: 50px;
$buttonFontSize: 20px;

.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.padded {
    padding: 20px;
}

.radioTable {
    flex-grow: 0;
    border-right: grey 2px solid;

    &__questionLabel {
        font-size: 20px;
    }

    &__mainTable {
        flex-grow: 0;
    }

    &__fileInput {
        position: relative;
        display: block;
    }

    &__button {
        width: $buttonDimension;
        height: $buttonDimension;
        background: lightblue;
        border: none;
        border-style: none;
        border-radius: 0;
        font-size: $buttonFontSize;
        font-weight: bold;
    }

    &__addButton {
        color: green;
    }

    &__removeButton {
        color: red;
    }

    &__fileInputButton {
        color: green;
        background: aqua;
    }

    &__fileInputElement {
        width: $buttonDimension;
        height: $buttonDimension;
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__thumbnail {
        height: $buttonDimension;
        width: $buttonDimension;
    }

    &__stats {
        font-style: italic;
    }

    td {
        width: $buttonDimension;
        height: $buttonDimension;
        align-content: center;
        text-align: center;
    }
}


